app/util/Constants.js
app/config/deploy.rb
server/cache/
server/composer.lock
dev.json
.htaccess
# Bootstrap

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Misc
.idea/

