<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'Backoffice' %} - Best Version Media</title>
        <!-- <link rel="stylesheet" href="http://cdn.sencha.io/ext-4.2.0-gpl/resources/css/ext-all-neptune.css"> -->
        <link rel="stylesheet" href="http://cdn.sencha.io/ext-4.2.0-gpl/resources/css/ext-all.css">
        <!--
        <script type="text/javascript" src="resources/js/ext/ext-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="resources/js/ext/resources/css/ext-all.css"/>
        -->
        <link rel="stylesheet" type="text/css" href="/resources/css/icons.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/portal.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/BoxSelect.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/RowActions.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/print.css"/>

        <!--<script type="text/javascript" src="all-classes.js"></script>-->

        <script src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all-debug.js" type="text/javascript"></script>
        <script src="/app/util/JavisERP.util.SilexRest.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/JavisERP.writer.JsonWithAssociations.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/BoxSelect.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/BoxSelectField.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/RowActions.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/Printer.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/GridSearching.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/ComboFilter.js" type="text/javascript" charset="utf-8"></script>
        <script language="javascript">
        	var App = ({user: { resources : [], newpassword: 0 }});
        	{% if resources is defined and resources|length > 0 %}
        	App.user.resources = ({{ resources|json_encode|raw }});
        	{% endif %}
        	{% if newpassword is defined %}
        	App.user.newpassword = '{{ newpassword }}';
        	{% endif %}
        </script>
        <script type="text/javascript" src="/app.js"></script>


    </head>
    <body>
        <script>
            var myMask = new Ext.LoadMask(Ext.getBody(),{msg:"Loading BVM Backoffice..."});
            myMask.show();
            Ext.defer(function() {
                myMask.hide();
            },4000);
        </script>
        {% block content %}{% endblock %}
    </body>
</html>
