<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'Backoffice' %} - Best Version Media</title>
        <script src="http://extjs.cachefly.net/ext-4.1.1a-gpl/ext-all-debug.js"></script>
        <link rel="stylesheet" href="http://extjs.cachefly.net/ext-4.1.1a-gpl/resources/css/ext-all.css">
        <!--
        <script type="text/javascript" src="resources/js/ext/ext-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="resources/js/ext/resources/css/ext-all.css"/>
        -->

        <link rel="stylesheet" type="text/css" href="/resources/css/icons.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/portal.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/BoxSelect.css"/>
        <link rel="stylesheet" type="text/css" href="/resources/css/RowActions.css"/>

        <script src="/resources/js/ext_patches/js/Ext/patch/deepEquals.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/ext_patches/js/Ext/patch/ColumnSetterGetter.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/ext_patches/js/Ext/patch/JsonPath.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/Ext.ux.menu.StoreMenu.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/JavisERP.writer.JsonWithAssociations.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/BoxSelect.js" type="text/javascript" charset="utf-8"></script>
        <script src="/resources/js/RowActions.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="/app.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
